{% extends 'core/base.html' %}
{% load static %}
{% block title %} Sobre {{ block.super }} {% endblock %}

{% block container %}
	<div class="container" style="margin-top:80px;">
		
	<div class="page-header">
		<h1>Sobre</h1>
	</div>
	<div class="col-lg-12">
		<br>
		<div class="text-justify">
			
		<p>
			<strong>Dicadm App</strong> é uma aplicação web voltada para estudantes de administração que tem como objetivo ser uma fonte de pesquisa para os jovens estudantes e pequenos empresários.
		</p>
		<p>
			Serão mais de <strong>300 termos</strong> que foram coletados de livros e Internet. Caso encontre algum erro e/ou tenha dicas, sugestões ou críticas, entre em <a href="#contact">contato</a> :).
		</p>
		<p>
			Inicialmente a aplicação foi pensada para ser um dicionário de termos técnicos da administração, que aos poucos seriam adicionados funções como divulgações de vagas de estágios, dicas sobre áreas da administração, dicas sobre o mercado de trabalho em Teresina/PI, criação de uma aplicação para smartphones Android, e etc.
		</p>

		<h2>Tecnologias utilizadas:</h2>
		<ul>
			<li><a href="https://www.python.org/" target="_blank">Python</a> 3.5;</li>
			<li><a href="https://www.djangoproject.com/" target="_blank">Django</a> 1.10;</li>
			<li>
				<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> 3.3;
			</li>
		</ul>

		<h2 id="visit">Visite:</h2>
		<ul>
			<li>Github <a href="https://github.com/VictorHolanda21/dicadm_django" target="_blank">código fonte</a>;</li>
			<li>Site <a href="https://victorholanda21.pythonanywhere.com" target="_blank">projeto</a>;</li>
		</ul>

		<h2 id="contact">Contato:</h2>
		<ul>
			<li><strong>Victor Holanda</strong></li>
			<li>
				<a href="https://www.facebook.com/victorholanda21" target="_blank">Facebook</a> | 
				<a href="https://github.com/VictorHolanda21/" target="_blank">Github</a> | 
				<a href="https://www.linkedin.com/in/victorholanda21" target="_blank">LinkedIn</a>
			</li>
		</ul>
		</div>
	</div>

	</div>
{% endblock container %}