{% extends 'core/base.html' %}

{% block title %} Sobre {{ block.super }} {% endblock %}

{% block container %}
	<div class="page-header">
		<h1>Sobre</h1>
	</div>
	<div class="col-lg-8 text-justify">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra enim quis mi blandit placerat. Nullam sed viverra dui. Nunc quis scelerisque dui. Suspendisse sodales magna in ex ultricies ultricies. Nullam in cursus dolor, non rutrum elit. Vivamus ante nunc, mattis sit amet ornare vel, rutrum sed augue. Etiam feugiat erat sed dictum ullamcorper. Maecenas gravida est id lorem commodo, ultricies hendrerit odio consequat. Aenean erat augue, malesuada id sem sit amet, rhoncus vehicula odio. Cras augue nisi, pulvinar et risus vel, scelerisque vulputate tortor.
		</p>
		<p>
			Nam congue justo eget velit lacinia interdum. Vestibulum viverra mauris nisi, sit amet ornare libero pellentesque et. Maecenas vitae nisl id leo accumsan lobortis sed nec ante. Cras vulputate libero a sapien molestie, et sagittis mauris volutpat. Maecenas tempus augue velit, a ultrices est sagittis ut. Donec porta eu tellus condimentum convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum sagittis risus ut luctus. Donec condimentum ligula vel lacinia tincidunt. Cras varius erat nec ante viverra auctor. Curabitur id purus quis orci laoreet gravida nec eu dolor. Nulla rhoncus mattis eleifend. Duis sed maximus ipsum, et tristique odio. Sed vitae consectetur mi, posuere lacinia ipsum.
		</p>
		<p>
			Integer scelerisque accumsan mattis. Vestibulum pretium quam id arcu imperdiet, dignissim consectetur lorem iaculis. Nam semper urna non enim maximus, at rhoncus purus aliquam. Morbi urna erat, lobortis ac augue vehicula, varius fermentum mi. Fusce viverra risus eget mauris cursus, ac pretium arcu porttitor. Aenean lacinia nisl sapien. Sed in tortor in dui scelerisque molestie. Mauris id finibus magna, in convallis leo. Sed accumsan odio dolor, in accumsan arcu aliquet non. Nam condimentum, felis nec vehicula gravida, erat ante aliquet mauris, sed ornare neque diam ut felis. Pellentesque laoreet metus in lacus feugiat, mollis ultrices nisl fringilla. Cras mollis erat et risus lobortis volutpat.
		</p>
		<p>
			Suspendisse finibus magna neque. Vivamus quis turpis sed augue vehicula commodo vitae id lorem. Ut a eleifend sapien. Morbi consequat purus ut quam porta, quis finibus nisi suscipit. Duis porttitor nec nisi sed tempus. Cras malesuada metus quis enim efficitur molestie. Donec quis egestas risus. Curabitur ultricies non neque id lacinia. Maecenas pulvinar, metus eu mattis laoreet, ipsum enim egestas nisi, sed elementum dolor massa vel est. In aliquam ligula odio, at eleifend magna ultrices eu. Mauris eget fermentum libero. Sed in fermentum massa. Donec orci diam, pretium ut sagittis quis, tincidunt ut ipsum.
		</p>
	</div>
{% endblock container %}