{% extends 'core/base.html' %}
{% load static %}
{% block title %} Início {{ block.super }} {% endblock %}

{%block container%}
	<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="{% static 'img/icon_dicadm_256px.png' %}" class="img-responsive" alt="dicadm app">
                    <div class="intro-text">
                        <span class="name">Dicadm App</span>
                        <hr class="star-light">
                        <span class="skills">Uma aplicação web voltada para estudantes de administração.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{%endblock container%}