# coding=utf-8

'''
	Esse arquivo tem informações que permite rodar o ambiente em mode de desenvolvimento.
	Ele sobreescreve as configurações padrões do "settings.py" configurado para o ambiente de produção.
	Para usa-lo salve esse arquivo com o nome "local_settings.py"
	Não apague o arquivo "local_settings.py.example"
	O arquivo "local_settings.py" está no gitignore para não ir para produção.
'''

import os

DEBUG = True

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.sqlite3',
		'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
	}
}

MIDDLEWARE = [
    'django.middleware.security.SecurityMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
]

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'