{% extends 'core/base.html' %}

{% block title %} {{title}} {{ block.super }} {% endblock %}

{%block container%}
	<div class="container" style="margin-top:80px;">
		

	<div class="page-header">
		<h1>{{word}} 
			<small><i class="fa fa-tag" aria-hidden="true"></i>
			<a href="{{ word.category.get_absolute_url}}">{{word.category.slug}}</a>
			</small>
		</h1>
		<ol class="breadcrumb">
		  <li><a href="{% url 'core:index' %}">Inicio</a></li>
		  <li><a href="{% url 'dictionary:index' %}">Dicionário</a></li>
		  <li><a href="{% url 'dictionary:index' %}">Termos</a></li>
		  <li class="active">{{word}}</li>
		</ol>
		<hr>
		<p>
			{{word.description}}
		</p>
	</div>
	</div>
{%endblock container%}