{% extends 'core/base.html' %}

{% load dictionary_template_tags %}

{% block title %} {{title}} {{ block.super }} {% endblock %}

{%block container%}
	<div class="container" style="margin-top:80px;">
		
	<div class="page-header">
		<h1>{{title}}{% if category %}: {{category}} {% endif%}
			{% if user.is_authenticated %}
			<a href="{% url 'dictionary:add_word'%}">
				<i class="fa fa-plus-circle fa-1x" aria-hidden="true" style="float:right;"></i>
			</a>
			{% endif %}
		</h1>
	</div>
	<div class="row">
		<div class="list-group col-md-8">
			{% for word in words %}
				<a href="{{word.get_absolute_url}}" class="list-group-item">{{word}}</a>
			{% empty %}
				<a href="#" class="list-group-item">
					Nenhum resultado encontrado{% if queryset != None %} para <strong>{{queryset}}</strong>{%endif%}! Por favor, tente outra palavra :).
				</a>
			{% endfor %}
		</div>
		{% block sidebar_block %}
			{% get_category_list %}
		{% endblock %}
	</div>
	<div class="row">

		<nav class="text-center">
		  <ul class="pagination">
	        {% if words.has_previous %}
		    	<li class="previous">
		    		<a href="?page={{ words.previous_page_number }}{%if request.GET.q %}&q={{ request.GET.q}}{% endif %}">
		    			<span aria-hidden="true">&laquo;</span>
		    		</a>
		    	</li>
	        {% endif %}

	       	{% for p in words.paginator.page_range %}
			  <li {% if words.number == p %} class="active" {%endif%}>
			  	<a href="?page={{p}}{%if request.GET.q %}&q={{ request.GET.q}}{% endif %}">{{p}}</a>
			  </li>
	       	{% endfor %}


	        {% if words.has_next %}
		    	<li class="next">
		    		<a href="?page={{ words.next_page_number }}{%if request.GET.q %}&q={{ request.GET.q}}{% endif %}">
		    			<span aria-hidden="true">&raquo;</span>
		    		</a>
		    	</li>
	        {% endif %}
		  </ul>
		</nav>

	</div>
	</div>
{%endblock container%}