{% extends 'core/base.html' %}

{% block title %} {{title}} {{ block.super }} {% endblock %}

{%block container%}
	<div class="page-header">
		<h1>{{title}}</h1>
	</div>
	<div>
		<div class="list-group">
			{% for word in words %}
				<a href="{{word.get_absolute_url}}" class="list-group-item">{{word}}</a>
			{% empty %}
				<a href="#" class="list-group-item">
					Nenhum resultado encontrado para <strong>{{queryset}}</strong>! Por favor, tente outra palavra :).
				</a>
			{% endfor %}
		</div>
	</div>
{%endblock container%}